.detail-image {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.detail-content{
  margin-left: 30px;
}

.pi{
  margin-right: 20px;
}

.difficulty{
  width: 100px;
}
