// primary colors
$primary-color-1: #8e210b;
$primary-color-2: #390b02;

// secondary colors
$secondary-color-1: black;
$secondary-color-2: white;
$secondary-color-3: grey;
$secondary-color-4: rgb(51, 51, 51);
