<div class="container-card" *ngFor="let recipe of recipes">
  <div class="card px-2 p-3">
    <!--
    <img class="card-img-top" src="{{recipe.image}}" alt="Card image cap">
    -->
    <div class="card-image" [ngStyle]="{'background-image':'url('+recipe.image+')'}"></div>
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description|slice:0:160}}</p>
      <div class="text-center">
        <a href="#" class="btn btn-primary">Visualizza</a>
      </div>
    </div>
  </div>
</div>

<!--
<div class="card-deck" *ngFor="let recipe of recipes">
  <div class="card">
    <img class="card-img-top" src="{{recipe.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description|slice:0:160}}</p>
    </div>
  </div>
</div>
-->




