<div class="container-card" *ngFor="let recipe of recipes">
  <div class="card px-2 p-3">
    <!--
    <img class="card-img-top" src="{{recipe.image}}" alt="Card image cap">
    -->
    <div class="card-image" [ngStyle]="{'background-image':'url('+recipe.image+')'}" (click)="inviaTitolo(recipe.title)"></div>
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description|slice:0:160}}...</p>
      <div class="text-center">
        <!-- "/dettaglio/12" è PATH ASSOLUTO, significa che parte dalla root del domain ed aggancia questo. ES: www.cibando.it/dettaglio/12-->
        <!-- "dettaglio/12" è PATH RELATIVO, significa che parte da dove ci troviamo. ES: www.cibando.it/PATH_DA_DOVE_CLICCO/dettaglio/12-->
        <!-- LINK ASSOLUTO-->
        <!--
        <a class="btn btn-primary" routerLink="ricette/dettaglio/{{recipe.title}}/{{recipe._id}}">Visualizza</a>
        -->

        <!-- LINK RELATIVO-->
        <a class="btn btn-primary" routerLink="dettaglio/{{recipe.title}}/{{recipe._id}}">Visualizza</a>

      </div>
    </div>
  </div>
</div>

<!--
<div class="card-deck" *ngFor="let recipe of recipes">
  <div class="card">
    <img class="card-img-top" src="{{recipe.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description|slice:0:160}}</p>
    </div>
  </div>
</div>
-->




