<app-header></app-header>
<app-carousel></app-carousel>

<div class="contenitore">
  <h2 [ngClass]="evidenziato ? 'testoEvidenziato' : ''" (click)="onEvidenziato()" style="cursor:pointer;">Benvenuti su Cibando</h2>

  <p class="paragrafo" [ngStyle]="{'background-color': evidenziato === true ? 'yellow' : 'white'}" >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptatibus reiciendis ad? Nihil vitae hic modi aperiam
    cum quo placeat tempore at tenetur iure velit excepturi quis, facere quaerat molestiae iste quibusdam natus! Nemo
    voluptate, dolor nostrum laborum alias aliquam reprehenderit? At adipisci dolorem inventore aspernatur aperiam
    temporibus nihil perspiciatis. Placeat, quae est? Libero fugit molestiae explicabo voluptatibus sequi alias itaque.
    Velit, distinctio nulla dignissimos aspernatur nemo labore ea repudiandae, explicabo reiciendis quidem sunt animi vel.
    Ea, similique, fugiat placeat accusamus eligendi recusandae suscipit asperiores est optio quos deserunt corporis a,
    libero eaque cum totam vel quam fuga dolorem repudiandae nulla eius sed? Adipisci odit quaerat odio tempora corporis
    praesentium aspernatur dolor suscipit nam, temporibus repellendus deleniti voluptate libero officiis. Doloribus quae,
    ratione a magnam maiores dolor vitae impedit dolore perferendis facere, accusantium, optio architecto molestiae eveniet.
    Suscipit mollitia magni asperiores nihil illo. Soluta incidunt praesentium officiis, laboriosam ratione expedita natus
    tenetur.
  </p>
</div>

<!--
<div>
  recupero dei dati per input[] ed interpolazione {{}}
  <img [src]="urlFoto" [alt]="label" (click)=scriviLog() >
  <h3>{{nomeFoto}}</h3>
</div>


<div [style]="'background-color: ' + colore">Ecco il div  del colore</div>
<input type="text" [(ngModel)]="coloreScelto"><button (click)="onChangeColor()">Cambia Colore</button> valore della variabile: {{coloreScelto}}
<br><br>

<div id="contenitore-switch" [ngSwitch]="colore">
  <div *ngSwitchCase="'green'">Questo DIV comparirà solamente se il colore scelto sarà verde</div>
  <div *ngSwitchCase="'red'">Questo DIV comparirà solamente se il colore scelto sarà rosso</div>
  <div *ngSwitchCase="'yellow'">Questo DIV comparirà solamente se il colore scelto sarà giallo</div>
  <div *ngSwitchDefault>Questo DIV comparirà solamente se non è stato scelto nessun colore</div>
</div>
-->
<router-outlet></router-outlet>
