input.ng.invalid.ng-touched{
  border: 1px solid red;
}


input.ng.valid.ng-touched{
  border: 1px solid green;
}

p.help.is-danger{
  font-size: 12px;
  font-weight: 900;
  color: red;
  position: relative;
  top: 5px;
  float: right;
}
