/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~primeicons/primeicons.css";
@import "./styles/colori.scss";

body {
  font-family: 'Montserrat', sans-serif;
}

nav{
  padding: 10px!important;
}
.bg-red{
  background-color: $primary-color-1!important;
}

.contenitore {
  padding: 16px;
}

.logo{
  width: 60px;
  margin-right: 8px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

h3{
  font-family: "Homemade Apple", cursive;
  font-size: 40px;
  text-shadow: $secondary-color-1 2px 3px 3px;
}
